In [1]:
1+2

3

In [2]:
1.2 * 3

3.5999999999999996

In [3]:
'My name is ' * 3

'My name is My name is My name is '

In [7]:
x = 1
y = 2
z = x / 10 + y / 10

In [8]:
x = 1
y = 2
z2 = (x + y) / 10

In [9]:
2 ** w ** w

115792089237316195423570985008687907853269984665640564039457584007913129639936

In [10]:
repeat = 'My name is '

In [11]:
repeat + ', what?' + repeat + ', who?'

'My name is , what?My name is , who?'

In [12]:
2var-seg = 150

SyntaxError: invalid decimal literal (<ipython-input-12-a2c786e5ddaf>, line 1)

In [13]:
True = 17

SyntaxError: cannot assign to True (<ipython-input-13-2e71e9e9d404>, line 1)

In [14]:
17 = True

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-14-4ffe304030ad>, line 1)

In [15]:
1=True

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-15-94021dbb3e2a>, line 1)

In [16]:
17 == True

False

In [17]:
1 == True

True

In [18]:
a = b = la puerta azul está abierta

SyntaxError: invalid syntax (<ipython-input-18-c0ebd9a66e0c>, line 1)

In [1]:
a = b = "la puerta azul está abierta"

In [2]:
print(a)

la puerta azul está abierta

In [3]:
x = 5, y = 10

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-3-a2e7f7ffc612>, line 1)

In [4]:
x = 5
y = 10

In [5]:
'suma' = 30

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-5-b294af0d75ed>, line 1)

In [6]:
"suma" = 30

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-6-6282825dfe92>, line 1)

In [7]:
suma = 30

In [8]:
print(suma)

30

In [9]:
suma = sum(x+y)
print(suma)

TypeError: 'int' object is not iterable

In [10]:
num1 = 2
num2 = 3
Answer = num1 + num2
print(answer)

NameError: name 'answer' is not defined

In [11]:
num1 = 2
num2 = 3
Answer = sum(num1 + num2)
print(answer)

TypeError: 'int' object is not iterable

In [12]:
num1 = 2
num2 = 3
a = num1 + num2
answer = a
print(answer)

5

In [13]:
num1 = 2
num2 = 3
answer = num1 + num2
print(answer)

5

In [14]:
num1 = 6
num2 = 3
answer = num1 % num2
print(answer)

0

In [15]:
num1 = 6
num2 = 3
answer = num1 / num2
print(answer)

2.0

In [16]:
num1 = 2
num2 = 3
answer = num1 ** num2
print(answer)

8

In [17]:
x = 5
respuesta = 'el resultado es' x

SyntaxError: invalid syntax (<ipython-input-17-5a507ebfa1ab>, line 2)

In [18]:
x = 5

print("El resultado es",x)

El resultado es 5

In [19]:
x = 5
respuesta = 'el resultado es', x

In [20]:
print(respuesta)

('el resultado es', 5)

In [21]:
peras = 5
manzanas = 7
frutas = peras + manzanas
print('Hay', frutas, 'frutas en total.')

Hay 12 frutas en total.

In [22]:
peras = 5
manzanas = '7'
frutas = peras + int(manzanas)
print('Hay', frutas, 'frutas en total.')

Hay 12 frutas en total.

In [24]:
entrada1 = input()

In [25]:
entrada2 = input('Escriba algo:')

In [27]:
a = input("Ingrese un numero a: ")
b = input("Ingrese un numero b: ")
x = int(a) * int(b)
print("Resultado del producto a * b es: ", x)

Resultado del producto a * b es:  12

In [ ]:
pizzasmed = input("¿Cuantas pizzas medianas compraron?: ")
pizzasgrandes = input("¿Cuantas pizzas grandes compraron?")
totalpizzas = int(pizzasmed)*1020 + int(pizzasgrandes)*1380
anfitrion = totalpizzas/2 #1710
parejaanf = anfitrion #1710
amigo1 = 410
amigo2 = 800
amigo3= 0

total = anfitrion + parejaanf + amigo1 + amigo2 + amigo3 #4630
int(total)
totalindividual = total/5 #926

Fanfitrion = anfitrion - totalindividual
Fpareja = parejaanf - totalindividual
Famigo1 = amigo1 - totalindividual
Famigo2 = amigo2 - totalindividual
Famigo3 = amigo3 - totalindividual

if  Fanfitrion > 0:
    Fanfitrion = f"Al anfitrion le deben: {Fanfitrion}"
else:
    Fanfitrion = f"El anifitrion debe: {-1*Fanfitrion}"
if Fpareja > 0:
    Fpareja = f"A la pareja del anfitrion le deben: {Fpareja}"
else:
    Fpareja = f"La pareja del anifitrion debe: {-1*Fpareja}" 
if Famigo1 > 0:
    Famigo1 = f"Al amigo1 le deben: {Famigo1}"
else:
    Famigo1 = f"El amigo1 debe: {-1*Famigo1}"
if Famigo2 > 0:
    Famigo2 = f"Al amigo2 le deben: {Famigo2}"
else:
    Famigo2 = f"El amigo2 debe: {-1*Famigo2}"
if Famigo3 > 0:
    Famigo3 = f"Al amigo3 le deben: {Famigo3}"
else:
    Famigo3 = f"El amigo3 debe: {-1*Famigo3}"


print("----Resumen----")
print("El anfitrion puso: $",anfitrion,"\nLa pareja del anfitrion puso: $",parejaanf,"\nEl amigo1 puso: $",amigo1)
print("El amigo2 puso: $",amigo2,"\nEl amigo 3 puso: $",amigo3)
print("\n-Por persona se debe aportar: $",totalindividual)
print("\nFinalmente: ")
print("\n",Fanfitrion,"\n",Fpareja,"\n",Famigo1,"\n",Famigo2,"\n",Famigo3)